.Head {
  display: flex;
  justify-content: space-between;
  height: 60px;
  grid-area: nav;
  background-color: #282c34;
  border-bottom: 1px rgb(1, 1, 1) solid;
  margin-bottom: 20px;
}

select {
  background-color: #282c34;
  border: none;
  outline: none;
  cursor: pointer;
}

option {
  color: wheat;
}
