body {
  background-color: #282c34;
}

.Grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "nav nav nav nav" "card card card card";
}

.Card {
  grid-area: card;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
